@charset "utf-8";

* {
  font-size: 9pt;
  margin: 0;
  padding: 0;
}

body {
  font-family: '微软雅黑';
  margin: 0 auto;
  min-width: 500px;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 0;
}

a, a:focus {
  text-decoration: none;
  color: #000;
  outline: none;
}

a:hover {
  color: #00a4ac;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

cite {
  font-style: normal;
}

h2 {
  font-weight: normal;
}

.main-con {
  width: 520px;
  margin: 0 auto;
}

.mian-top {
  height: 15px;
  background: #1E90FF;
}

.mian-top .m-s {
  font-size: 14px;
  color: #fff;
  line-height: 15px;
  padding-left: 20px;
}

.zh span {
  display: inline-block;
}

.zh .ipt {
  width: 392px;
  height: 30px;
}

.content {
  padding: 15px;
}

.ipt1 {
  height: 30px;
  width: 150px;
}

.btnipt {
  text-align: center;
}

.btnipt span {
  padding: 0 20px;
}

.btnipt input {
  background: #3D96C9;
  border: none;
  color: #fff;
  font-size: 14px;
}

.t-a {
  float: left;
  line-height: 30px;
  padding-left: 15px;
  text-align: left;
  width: 6em;
  *line-height: 32px;
}

span {
  display: inline-block;
}

.scbtn {
  background: rgba(0, 0, 0, 0) url("../images/btnbg.png") no-repeat;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  width: 85px;
}

.select_1 {
  width: 152px;
  min-height: 34px;
  opacity: 100;
  filter: alpha(opacity=100);
}

/* 城市控件搜索结果 */
.go_mod_city, .go_mod_keyword {
  position: absolute;
  z-index: 101;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.go_mod_city {
  width: 337px;
  line-height: 2;
  padding: 4px 10px 5px;
  font-size: 12px;
}

.go_mod_city a.icon_close {
  top: 5px;
  right: 5px;
}

.go_mod_city ul.city_tab, .go_mod_city ul.city_list {
  float: none;
  width: auto;
}

.go_mod_city ul.city_tab {
  margin: 4px 0 !important;
  border-bottom: 1px solid #e0e0e0;
}

.go_mod_city ul.city_tab li {
  float: left;
  width: auto;
  margin: 0 2px -1px 0 !important;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8;
}

.go_mod_city ul.city_tab li a {
  display: block;
  padding: 0 5px;
  color: #999;
  text-decoration: none;
}

.go_mod_city ul.city_tab li.current {
  _position: relative;
  border-bottom-color: #fff;
  background-color: #fff;
}

.go_mod_city ul.city_tab li.current a {
  color: #666;
}

.go_mod_city ul.city_list, .go_mod_keyword ul {
  margin: 0 !important;
}

.go_mod_city ul.city_list {
  display: inline-block;
}

.go_mod_city ul.city_list li {
  _display: inline;
  float: left;
  width: 80px;
  height: 22px;
  margin: 0 0 0 6px !important;
}

.city_hotel_v2 {
  width: 433px;
  border: 2px solid #639cd4;
}

.city_hotel_v2 p.word {
  width: 16px;
  height: 14px;
  line-height: 14px;
  margin-top: 3px;
  padding-right: 4px;
  font-weight: bold;
  text-align: center;
  background: url(img/bg_word.png);
}

.city_hotel_v2 .city_tab {
  height: 25px;
}

.city_hotel_v2 ul.city_tab li.current a {
  line-height: normal;
  padding: 4px;
  border: 1px solid #fff;
  border-bottom: none;
  background: #FFF url(img/bg_current_tab.png) no-repeat;
}

.city_hotel_v2 ul.city_list li a span.num {
  font-family: Arial;
}

.cityList {
  position: absolute;
  z-index: 9;
  width: 235px;
  border: 1px solid #E0E0E0;
  background-color: white;
  height: auto;
  max-height: 300px;
  overflow: auto;
}

.cityList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;
  width: auto;
}

.cityList li {
  float: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: 24px;
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted #E0E0E0;
}

.cityList li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.cityList li a:hover {
  text-decoration: none;
}

.cityList li span {
  display: block;
  float: left;
  line-height: 24px;
}

.cityList li span.name {
  width: 110px;
  color: #325E7F;
  white-space: nowrap;
  padding-left: 5px;
}

.cityList li span.latin {
  width: 80px;
  color: #325E7F;
  white-space: nowrap;
}

.cityList li.current a {
  color: white;
  background-color: #4778DA;
}

.cityList li.current span {
  color: white;
}

