<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.pro.mapper.ProMapper">
  <select id="getBasProList" useCache="false" parameterType="ProBean"
    resultType="ProBean">
    SELECT id,pro_name,pro_code,DATE_FORMAT(create_dt,'%Y-%m-%d %H:%i:%s') create_dt FROM t_pro
    WHERE 1=1
    <if test="pro_name != null and pro_name != ''">
      AND pro_name like CONCAT(CONCAT('%',#{pro_name}),'%')
    </if>
    <if test="pro_code != null and pro_code != ''">
      AND pro_code like CONCAT(CONCAT('%',#{pro_code}),'%')
    </if>
    ORDER BY create_dt DESC
  </select>
</mapper>

